.quarantine-email-list-item
  a.quarantine-email-item(
    href='',
    esn-modal-launcher='/unifiedinbox/app/components/quarantine/modal/inbox-quarantine-email-view.html',
    backdrop='static'
  )
  .quarantine-email-sender-avatar
    esn-avatar(ng-if='$ctrl.email.sender._id', user-id="$ctrl.email.sender._id" )
    esn-avatar(ng-if='!$ctrl.email.sender._id', user-email="$ctrl.email.sender.email" )
  .quarantine-email-body
    .quarantine-email-sender-and-recipients
      .quarantine-email-sender
        inbox-emailer(emailer='$ctrl.email.sender')
      .quarantine-email-recipients
        span(ng-if='$ctrl.email.recipients.length !== 1')
          | #{__('%s recipients', "{{::$ctrl.email.recipients.length}}")}
        span(ng-if='$ctrl.email.recipients.length === 1')
          | #{__('%s recipient', "{{::$ctrl.email.recipients.length}}")}
    .quarantine-email-subject
      span.email-subject {{::$ctrl.email.subject}}
  .quarantine-email-date
    span {{::$ctrl.email.lastUpdated | inboxItemDate}}
